@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-50vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.About {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* animation: fadeDown 0.5s ease-in-out; */
    margin-bottom: 10vh;
}

.section-container {
    margin: 10vh 15vw 0 15vw;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    font-size: 2rem;
}

.about-me {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2vh;
}

.subsection-container {
    display: flex;
    margin: 0 15vw 0 15vw;
}

.skill-content {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2vh;
}

.reminder {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
}